In [1]:
#Decimal to Binary
dec = int(input("write a decimal number: "))
str1 = ""
st = ""
while(dec!=0):
    st = st + str(dec%2)
    dec = dec//2
for i in range(len(st))[::-1]:
    str1 = str1 + st[i]
str1

write a decimal number: 123

'1111011'

In [2]:
#Decimal to Octal
dec = int(input("write a decimal number: "))
str1 = ""
st = ""
while(dec!=0):
    st = st + str(dec%8)
    dec = dec//8
for i in range(len(st))[::-1]:
    str1 = str1 + st[i]
str1

write a decimal number: 123

'173'

In [3]:
#Decimal to Hexadecimal
dec = int(input("write a decimal number: "))
str1 = ""
st = ""
while(dec!=0):
    if dec%16 == 10:
        st = st + 'A'
    elif dec%16 == 11:
        st = st + 'B'
    elif dec%16 == 12:
        st = st + 'C'
    elif dec%16 == 13:
        st = st + 'D'
    elif dec%16 == 14:
        st = st + 'E'
    elif dec%16 == 15:
        st = st + 'F'
    else:
        st = st + str(dec%16)
    dec = dec//16
for i in range(len(st))[::-1]:
    str1 = str1 + st[i]
str1

write a decimal number: 123

'7B'

In [4]:
import pandas as pd
cast = pd.read_csv('cast.csv')
SmallCast = pd.read_csv('Smalldata.txt')

In [5]:
SmallCast.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [6]:
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

In [7]:
#Question number 1
len(SmallCast[SmallCast['title'] == 'Hamlet'])

19

In [8]:
#len(cast[cast["title"] == "Hamlet"])

In [9]:
#Question number 2
cast[cast["title"]=="Treasure Island"].groupby('year').min()

                title             name   type       character    n
year
1918  Treasure Island  Buddy Messinger  actor        Ben Gunn  1.0
1920  Treasure Island     Al W. Filson  actor           Merry  1.0
1934  Treasure Island        A.B. Lane  actor           Allan  1.0
1950  Treasure Island  Andrew Blackett  actor            Bart  1.0
1972  Treasure Island   ?ngel del Pozo  actor        Anderson  1.0
1973  Treasure Island     Dal McKennon  actor  Bearded sailor  1.0
1985  Treasure Island      Anna Karina  actor            Aunt  1.0
1999  Treasure Island      Becket Cook  actor         Admiral  1.0

In [10]:
#Question number 3
len(cast[(cast["title"] == "Hamlet") & (cast["year"] == 1921)])

9

In [11]:
#Question number 4
cast[(cast["title"]=="Hamlet")].groupby((cast['year']//10)*10)

In [12]:
#Question number 5
actor_lead = len(cast[(cast['type']=="actor") & (cast['year']==1950) & (cast['n']==1)])
actress_lead = len(cast[(cast['type']=="actress") & (cast['year']==1950) & (cast['n']==1)])
print("The num of leading roles that were available to actors:",actor_lead) 
print("The num of leading roles that were available to actresses:",actress_lead)

The num of leading roles that were available to actors: 604
The num of leading roles that were available to actresses: 271

In [13]:
#Question number 6
cast[(cast['type']=="actor") & (cast['n']==1) & (cast['year']>=1990)].head(n = 10)

                      title  year        name   type       character    n
88   Live Freaky Die Freaky  2006     Nick 13  actor  TV Reporter #1  1.0
125   All Things Fall Apart  2011     50 Cent  actor            Deon  1.0
130             Freelancers  2012     50 Cent  actor            Malo  1.0
131  Get Rich or Die Tryin'  2005     50 Cent  actor          Marcus  1.0
132                     Gun  2010     50 Cent  actor            Rich  1.0
139                   Setup  2011     50 Cent  actor           Sonny  1.0
149            La hora cero  2010  Zapata 666  actor           Parca  1.0
150                       Z  2015  Zapata 666  actor               Z  1.0
259                 Aravaan  2012       Aadhi  actor        Varipuli  1.0
260                 Aravaan  2012       Aadhi  actor        Chinnaan  1.0

In [14]:
#Question number 7
cast[(cast["name"]=="Frank Oz") & (cast['n']>1)].sort_values('year')

,title,year,name,type,character,n
1538820,The Muppet Movie,1979,Frank Oz,actor,Miss Piggy,2.0
1538827,The Muppet Movie,1979,Frank Oz,actor,Motorcycle Guy,2.0
1538826,The Muppet Movie,1979,Frank Oz,actor,Swedish Chef (assistant),2.0
1538825,The Muppet Movie,1979,Frank Oz,actor,Marvin Suggs,2.0
1538824,The Muppet Movie,1979,Frank Oz,actor,Doc Hopper's Men,2.0
1538823,The Muppet Movie,1979,Frank Oz,actor,Sam the Eagle,2.0
1538822,The Muppet Movie,1979,Frank Oz,actor,Animal,2.0
1538821,The Muppet Movie,1979,Frank Oz,actor,Fozzie Bear,2.0
1538804,The Blues Brothers,1980,Frank Oz,actor,Corrections Officer,21.0
1538798,Star Wars: Episode V - The Empire Strikes Back,1980,Frank Oz,actor,Yoda,9.0
1538812,The Great Muppet Caper,1981,Frank Oz,actor,Swedish Chef,2.0
1538811,The Great Muppet Caper,1981,Frank Oz,actor,Gramps,2.0
1538810,The Great Muppet Caper,1981,Frank Oz,actor,Sam the Eagle,2.0
1538809,The Great Muppet Caper,1981,Frank Oz,actor,Animal,2.0
1538808,The Great Muppet Caper,1981,Frank Oz,actor,Fozzie Bear,2.0
1538807,The Great Muppet Caper,1981,Frank Oz,actor,Miss Piggy,2.0
1538777,An American Werewolf in London,1981,Frank Oz,actor,Miss Piggy,13.0
1538776,An American Werewolf in London,1981,Frank Oz,actor,Mr. Collins,13.0
1538805,The Dark Crystal,1982,Frank Oz,actor,"Aughra, a Keeper Of Secrets (performer)",3.0
1538806,The Dark Crystal,1982,Frank Oz,actor,Chamberlain (performer),3.0
1538835,Trading Places,1983,Frank Oz,actor,Corrupt Cop,46.0
1538799,Star Wars: Episode VI - Return of the Jedi,1983,Frank Oz,actor,Yoda,9.0
1538832,The Muppets Take Manhattan,1984,Frank Oz,actor,Cookie Monster,2.0
1538833,The Muppets Take Manhattan,1984,Frank Oz,actor,Ocean Breeze Soap Board Member,2.0
1538828,The Muppets Take Manhattan,1984,Frank Oz,actor,Miss Piggy,2.0
1538831,The Muppets Take Manhattan,1984,Frank Oz,actor,Bert,2.0
1538830,The Muppets Take Manhattan,1984,Frank Oz,actor,Animal,2.0
1538834,The Muppets Take Manhattan,1984,Frank Oz,actor,Sam the Eagle,2.0
1538829,The Muppets Take Manhattan,1984,Frank Oz,actor,Fozzie,2.0
1538793,Sesame Street Presents: Follow that Bird,1985,Frank Oz,actor,Grover,3.0
1538794,Spies Like Us,1985,Frank Oz,actor,Test Monitor,9.0
1538791,Sesame Street Presents: Follow that Bird,1985,Frank Oz,actor,Cookie Monster,3.0
1538792,Sesame Street Presents: Follow that Bird,1985,Frank Oz,actor,Bert,3.0
1538781,Labyrinth,1986,Frank Oz,actor,The Wiseman,17.0
1538817,The Muppet Christmas Carol,1992,Frank Oz,actor,George the Janitor,5.0
1538779,Innocent Blood,1992,Frank Oz,actor,Pathologist,21.0
1538819,The Muppet Christmas Carol,1992,Frank Oz,actor,Vegetable Salesman,5.0
1538818,The Muppet Christmas Carol,1992,Frank Oz,actor,Horse and Carriage Driver,5.0
1538816,The Muppet Christmas Carol,1992,Frank Oz,actor,Animal,5.0
1538814,The Muppet Christmas Carol,1992,Frank Oz,actor,Fozzie Bear as Fozziewig,5.0
1538813,The Muppet Christmas Carol,1992,Frank Oz,actor,Miss Piggy as Emily Cratchit,5.0
1538815,The Muppet Christmas Carol,1992,Frank Oz,actor,Sam the Eagle as Headmaster of Junior High Gra...,5.0
1538786,Muppet Treasure Island,1996,Frank Oz,actor,Animal,14.0
1538785,Muppet Treasure Island,1996,Frank Oz,actor,Sam the Eagle,14.0
1538784,Muppet Treasure Island,1996,Frank Oz,actor,Fozzie Bear,14.0
1538783,Muppet Treasure Island,1996,Frank Oz,actor,Miss Piggy,14.0
1538778,Blues Brothers 2000,1998,Frank Oz,actor,Warden,4.0
1538801,The Adventures of Elmo in Grouchland,1999,Frank Oz,actor,Bert,16.0
1538802,The Adventures of Elmo in Grouchland,1999,Frank Oz,actor,Grover,16.0
1538803,The Adventures of Elmo in Grouchland,1999,Frank Oz,actor,Cookie Monster,16.0
1538795,Star Wars: Episode I - The Phantom Menace,1999,Frank Oz,actor,Yoda,12.0
1538789,Muppets from Space,1999,Frank Oz,actor,Animal,7.0
1538787,Muppets from Space,1999,Frank Oz,actor,Miss Piggy,7.0
1538790,Muppets from Space,1999,Frank Oz,actor,Sam the Eagle,7.0
1538788,Muppets from Space,1999,Frank Oz,actor,Fozzie Bear,7.0
1538782,"Monsters, Inc.",2001,Frank Oz,actor,Fungus,9.0
1538796,Star Wars: Episode II - Attack of the Clones,2002,Frank Oz,actor,Yoda,6.0
1538797,Star Wars: Episode III - Revenge of the Sith,2005,Frank Oz,actor,Yoda,7.0
1538836,Zathura: A Space Adventure,2005,Frank Oz,actor,Robot,6.0
1538780,Inside Out,2015,Frank Oz,actor,Subconscious Guard Dave,14.0